@charset "UTF-8";
 #map {
    height: 100%;
  }
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .datalistcontent {position:relative; width: 98%; min-height: 150px; display: block; overflow: hidden; margin: 10px auto; 
    padding: 5px; padding-bottom:0; /*border:solid 1px #000; border-left:none; border-right:none;*/}
  .listwrap {margin-top:0px; position:relative;}
  .datalist {width: 100%; min-height: 30px; line-height: 30px; clear: both; display: block; height: 25px; overflow: hidden; font-size: 68%;}
  .datalist:hover {background: rgba(0,0,0,.09);}
  .messageresponses{}
  form.listingdata {margin-bottom: 0 !important;}
  .listingrepers{display: block; position: relative;}
  .listheader {width:100%; display:block; /*position: absolute;*/ height: 30px; font-size: 80%; font-weight: bold; /*top:-36px;*/   }
  .lhead {display: inline-block; margin: 0; padding: 0 0 0 1px; height: calc(30px - 2px); border: solid 1px #c0c0c0; line-height: 28px; float: left; text-align: center; overflow: hidden;}
  .seldv{width: calc(2% - 3px); text-align: center;}
  .orddv{width: calc(2% - 3px); text-align: center;}
  .willdv{width: calc(8% - 3px);}
  .vldv{width: calc(15% - 3px);}
  .adrdv{width: calc(20% - 3px);}
  .teldv{width: calc(12% - 3px);}
  .latdv{width: calc(10% - 3px);}
  .lngdv{width: calc(10% - 2px);}
  .cltdv{width: calc(10% - 3px);}
  .imgdv{width: calc(7% - 2px);}
  .actdv{width: calc(4% - 3px); text-align: center;}
  .listelement {padding: 0 0 0 1px; height: 100%; display: inline-block; border: solid 1px #c0c0c0; float:left; margin: 0; overflow: hidden; z-index: 1;}
.activeclassbg {overflow: initial;     z-index: 9;
    background: #ccc;}
input[type="text"]{
    background: transparent;
    z-index: 9;
    border:none;
    height: 100%;
    width: 98%;
    font-size: 100%;
}
input[type="text"]:focus {
    border:none !important;
    background: transparent !important;
    outline: none;
}
input[type="text"]:read-only{ width: 98%; text-align: center; padding:0;}
select {    
  background: transparent;
  z-index: 9;
  border:none;
  height: 100%;
  width: 98%;
  font-size: 100%;
  border:none !important;
  background: transparent !important;
  outline: none;
}
button.add-field{
    float: right;
}

.toggler-wrapper {
	display: block;
	width: 40px;
	height: 25px;
	cursor: pointer;
	position: relative;
  margin:2px auto;
}
.toggler-wrapper input[type="checkbox"] {
	display: none;
}
.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
	background-color: #44cc66;
}
.toggler-wrapper .toggler-slider {
	background-color: #ccc;
	position: absolute;
	border-radius: 100px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
.toggler-wrapper .toggler-knob {
	position: absolute;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
.toggler-wrapper.style-22 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
	left: calc(100% - 19px - 3px);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.toggler-wrapper.style-22 .toggler-slider {
	background-color: #eb4f37;
}
.toggler-wrapper.style-22 .toggler-knob {
	width: calc(25px - 6px);
	height: calc(25px - 6px);
	border-radius: 50%;
	left: 3px;
	top: 3px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: white;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
}

.villecontrol {
  width: 88%;
  height: 40px;
  display: block;
  background: rgba(255,255,255,1);
  border-radius: 8px;
  position: absolute;
  top: 20px;
  left: 6%;
  z-index: 9;
  opacity: .6;
  box-shadow: 1px 1px 20px rgba(0,0,0,.5);
transition: all 0.6;}
  .villecontrol:hover {opacity: 1; transition: all .6;}
  .villecontrol .container div {display: inline-block; width: fit-content;}
  .selectville {display: block; width: 50% !important; margin-right:20px;}
  .selectvillwillaya{
    /*background:rgba(0,0,0,.3) !important;*/
    position:relative;
    height:40px;
    padding-left: 40px;
  }
  select.selectvillwillaya::before{
  
  }
  button.selectbutton {
    width: 30px;
    height: 30px;
    border:none !important;
    margin:5px;
    margin-right:10px;
    display: inline-block;
    background: none !important;
  }
  button.selectbutton.proselect {background: transparent url('marker.png') no-repeat center !important; background-size: contain !important;}
  button.selectbutton.partselect {background: transparent url('Baies-marker.png') no-repeat center !important; background-size: contain !important;}
  #infosbulldiv {
    width: 250px;
    height: 180px;
    display: none;
    position: absolute;
    top:50px;
    left:200px;
    background: #fff;
    z-index: 10;
  }
  .displayedinfos {
    display: block !important;
  }